.zdy-codeSelect{
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 10px 10px;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}
.zdy-codeSelectUp > .zdy-codeSelect{
    top: auto;
    bottom: 42px;
}
.zdy-codeShow > .zdy-codeSelect{
    display: block;
}