@charset "UTF-8";
/* 
 * 说明：整体样式自定义修改
 *
 */
/*=============== 变量 Start ===============*/
/*logo宽度及左导航left值*/
/*=============== 变量 Ent ===============*/
/*============================== 修改默认样式 Strat ==============================*/
/***** logo修改 Strat *****/
.layui-layout-admin div.layui-logo {
  font-size: 20px;
  width: 300px;
}

/***** logo修改 End *****/
/***** tab去除外边距 Strat *****/
div.layui-tab {
  margin: 0;
  height: 100%;
  border: none;
}

/***** tab去除外边距 End *****/
/***** 修改tab样式 及选中样式 Strat *****/
.layui-tab-card > ul.layui-tab-title {
  border-bottom: 1px solid #1AA094;
}
.layui-tab-card > ul.layui-tab-title .layui-this {
  background: #16b8bd;
  color: #ffffff;
}
.layui-tab-card > ul.layui-tab-title .layui-this::after {
  border: none;
}

/***** 修改tab样式 及选中样式 End *****/
/***** 自定义tab页 Strat *****/
.tab-nav-z {
  color: #555555 !important;
  background-color: #FFFFFF !important;
}
.tab-nav-z a {
  color: #555555 !important;
  background-color: #FFFFFF !important;
}
.tab-nav-z a:hover {
  background-color: #F4F4F4 !important;
}

.zdy-tab-title {
  position: absolute;
  z-index: 10;
  left: 41px;
}

.zdy-tab-nav {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #1AA094;
}
.zdy-tab-nav .zdy-tab-nav-z1,
.zdy-tab-nav .zdy-tab-nav-z2,
.zdy-tab-nav .zdy-tab-nav-z3,
.zdy-tab-nav .zdy-tab-nav-z4 {
  position: absolute;
  width: 40px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 20;
  background-color: #FFFFFF;
}
.zdy-tab-nav .zdy-tab-nav-z1 {
  border-right: 1px solid #E2E2E2;
  left: 0;
}
.zdy-tab-nav .zdy-tab-nav-z2 {
  border-left: 1px solid #E2E2E2;
  right: 180px;
}
.zdy-tab-nav .zdy-tab-nav-z3 {
  width: 120px;
  right: 0;
}
.zdy-tab-nav .zdy-tab-nav-z3 ul {
  padding: 0;
  height: 100%;
  background-color: #FAFAFA;
}
.zdy-tab-nav .zdy-tab-nav-z3 ul li {
  height: 100%;
  line-height: 40px;
  width: 100%;
}
.zdy-tab-nav .zdy-tab-nav-z3 ul li a {
  color: #555555;
}
.zdy-tab-nav .zdy-tab-nav-z3 ul li a:hover {
  color: #555555;
}
.zdy-tab-nav .zdy-tab-nav-z3 ul li dl {
  top: 45px;
  left: auto;
  right: 5px;
}
.zdy-tab-nav .zdy-tab-nav-z3 ul span.layui-nav-bar {
  display: none;
}
.zdy-tab-nav .zdy-tab-nav-z4 {
  background-color: #FAFAFA;
  right: 120px;
  line-height: 40px;
  color: #555555;
  width: 60px;
  text-align: center;
}
.zdy-tab-nav .zdy-tab-hover:hover {
  background: #dadada;
}
.zdy-tab-nav .zdy-tab-hover:hover i.fa-chevron-left,
.zdy-tab-nav .zdy-tab-hover:hover i.fa-chevron-right,
.zdy-tab-nav .zdy-tab-hover:hover i.fa-hand-pointer-o,
.zdy-tab-nav .zdy-tab-hover:hover i.fa-refresh {
  color: #F7B824;
}

/***** 自定义tab页 End *****/
/***** 修改内容区域 Strat *****/
.layui-body {
  overflow: hidden !important;
}
.layui-body .layui-tab-content {
  height: calc(100% - 41px);
  padding: 0 !important;
}
.layui-body .layui-tab-content .layui-tab-item {
  height: 100%;
  width: 100%;
}

/***** 修改内容区域 End *****/
/*============================== 自定义类 Strat ==============================*/
/***** 头部导航左 Start *****/
.zdy-nav-headerLeft {
  position: absolute;
  left: 300px;
  height: 100%;
}
.zdy-nav-headerLeft li {
  float: left;
}

/***** 头部导航左 End *****/
/***** 添加下拉显示框小箭头 Start *****/
.zdy-nav-arrows::before {
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: -13px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 6px solid #cccccc;
}

.zdy-nav-arrows::after {
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: -12px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
}

/***** 添加下拉显示框小箭头 End *****/
/***** 去除下拉框箭头 Start *****/
.zdy-nav-remove .layui-nav-more {
  display: none;
}

/***** 去除下拉框箭头 End *****/
/**** 信息下拉框样式 Start *****/
.zdy-nav-alter {
  padding: 10px 0;
  width: 220px;
}
.zdy-nav-alter li {
  padding: 0 10px;
  position: relative;
  border-bottom: 1px dotted #eaeaea;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #7A7A7A;
  cursor: pointer;
}
.zdy-nav-alter li:hover {
  background-color: #F2F2F2;
}
.zdy-nav-alter li .ts1 {
  color: #3d9ae0;
}
.zdy-nav-alter li .ts2 {
  color: #FF6C60;
}
.zdy-nav-alter li .ts3 {
  color: #009688;
}
.zdy-nav-alter li .ts4 {
  color: #5FB878;
}
.zdy-nav-alter li .ts5 {
  color: #ec7c58;
}
.zdy-nav-alter li .ts6 {
  color: #F7B824;
}
.zdy-nav-alter li span {
  padding-left: 15px;
  font-size: 12px;
}
.zdy-nav-alter li span.layui-badge {
  position: absolute;
  right: 10px;
  padding-left: 6px;
}

/**** 信息下拉框样式 Start *****/
/***** 侧边栏-收起按钮 Strat *****/
.zdy-side-fold {
  position: fixed;
  top: 60px;
  z-index: 999;
  width: 200px;
  height: 35px;
  background-color: #4A5064;
  color: #aeb9c2;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.zdy-side-fold i {
  line-height: 35px;
}

.layui-nav-tree {
  margin-top: 35px;
}
.layui-nav-tree .layui-nav-item a i {
  line-height: 45px;
}

/***** 侧边栏-收起按钮 End *****/
/***** 修改主体内容 Strat *****/
/***** tab 首页 隐藏关闭按钮 Strat *****/
li[lay-id='sy'] .layui-tab-close {
  display: none;
}

/***** tab 首页 隐藏关闭按钮 End *****/
/***** iframe 初始化 Strat *****/
.zdy-clear-iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 5px 0 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/***** iframe 初始化 End *****/
/********** 修改主体内容 End **********/
/********** 尾部 Strat **********/
.zdy-footer {
  color: #666;
  text-align: center;
  line-height: 44px;
  font-size: 14px;
  border-top: 1px solid #DDD;
}

/********** 尾部 End **********/
