<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.sama.springbootdemo01.system.dao.LogDao">

	<sql id="BASE_COLUMN">
		id, content, cztime, czrid, czzh, ip, cztype
	</sql>

	<!-- 分页查询日志列表 -->
	<select id="findLogByPage" resultType="com.sama.springbootdemo01.system.model.Log">
		SELECT <include refid="BASE_COLUMN" /> FROM sys_log WHERE orgcode like CONCAT(#{orgcode},'%') ORDER BY id desc
	</select>

	<!-- 添加日志 -->
	<insert id="logAdd" parameterType="com.sama.springbootdemo01.system.model.Log">
		INSERT INTO sys_log (content, cztime, czrid, czzh, ip, cztype, orgcode) values (#{content}, #{cztime}, #{czrid}, #{czzh}, #{ip}, #{cztype}, #{orgcode});
	</insert>

	<!-- 查询当前地区全部日志 -->
	<select id="findAllByOrgcode" resultType="com.sama.springbootdemo01.system.model.Log">
		SELECT <include refid="BASE_COLUMN" /> FROM sys_log WHERE orgcode like CONCAT(#{orgcode},'%') ORDER BY id desc
	</select>


</mapper>
